body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#content {
    background-image: url('./images/board.jpg');
    background-size: cover; /* This ensures the image covers the whole element */
    background-repeat: no-repeat;
    background-position: relative;
    height: 100vh; /* Use viewport height to ensure it's always full-height */
    display: flex;
    justify-content: center;
    align-items: center;
}


#fullscreenBtn {
    position: absolute; /* This will position our button relative to the nearest positioned ancestor (or the viewport if there isn't one) */
    right: 15px;
    bottom: 15px;
    width: 30px; /* Adjust based on your preference */
    height: 30px;
    background-color: transparent;
    border: 2px solid white; /* This is the color of the arrows */
    cursor: pointer;
    outline: none;
    border-radius: 2px;
}

#fullscreenBtn:before, #fullscreenBtn:after {
    content: "";
    position: absolute;
    border: solid white; /* Color of the arrows */
    display: block;
    width: 12px; /* Adjust based on your preference */
    height: 2px;
}

#fullscreenBtn:before {
    top: 2px;
    left: 2px;
    border-width: 2px 0 0 2px;
}

#fullscreenBtn:after {
    right: 2px;
    bottom: 2px;
    border-width: 0 2px 2px 0;
}